/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* Lexend Giga */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@400;700&display=swap');

/* Geologica */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
}
footer {
    display: grid;
    grid-template-areas: 
        "col1 col2 col3"
        "direitos direitos direitos";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    padding: 20px;
    border-radius: 15px;
    background-color: #081F38;
}
footer section{
    margin-top: 50px;
    margin-left: 95px;
}
.direitos{
    grid-area: direitos;
    margin-right: 100px;
    margin-top: -30px;
    text-align: center;
    font-size: 19px;
}
footer .col1 {
    grid-area: col1;
}
footer p{
    margin-top: 15px;
}
footer .col2 {
    grid-area: col2;
}

footer .col3 {
    grid-area: col3;
}
footer p{
    font-size: 18px;
}
footer h3{
    font-size: 22px;
}
footer p,h3{
    color: aliceblue;
}
p{
    font-family: 'Geologica' sans-serif;
}
header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 9px;
    padding: 7px 40px;
}
a{
    font-family:'Lexend Giga', sans-serif;
    text-decoration: none;
    color: black;
}
button{
    background-color: #004CC5;
    border: none;
    color: aliceblue;
    border-radius: 12px;
    padding: 16px;
}